


<div class="row row-flex-1">
  <div class="col-md-4 col-sm-6 col-xs-12-A-1">
    <h5><%= @trail.name %></h5><br>
    <%= flag_icon(@trail.country.flag) %>
    <p class="item1">Country:&nbsp;&nbsp;&nbsp;<%= @trail.country.name %></p><br>
    <p class="item1">Distance:&nbsp;&nbsp;&nbsp;<%= @trail.distance %> miles</p><br>
    <p class="item1">Duration:&nbsp;&nbsp;&nbsp;<%= @trail.duration %> hours</p><br>
    <p class="item1">Difficulty:&nbsp;&nbsp;&nbsp;<%= @trail.difficulty %> / 5<p/><br><br><br><br><br><br><br><br><br>
    <% if current_user.trails.include?(@trail) %>
      <%= link_to "Edit Trail", edit_user_trail_path(current_user, @trail), class: "edit-link" %>&nbsp;&nbsp;&nbsp;
      <%= link_to "Delete Trail", user_trail_path(current_user, @trail), :confirm => "Are you sure?", :method => :delete, class: "delete-link"%>
    <% end %>
  </div>

  <div class="box-div">
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12-B-1">
    <%= image_tag @trail.image.url, class: 'img-fluid' %>
    <br><br>
    <%= @trail.dangers %><br><br><br><br>
    <small class='user-link'>User: <%= link_to @trail.user.name,  user_path(@trail.user) %></small>
  </div>
</div>
